/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

input {
    width: 80%;
    max-width: 350px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    background-color: #f0c674;
    color: #333;
    border: none;
    cursor: pointer;
    width: 80%;
    max-width: 350px;
    margin: 10px 0;
    border-radius: 5px;
}

button:hover {
    background-color: #e0b361;
}

/* Center form on login/signup screen */
.login-bg {
    background: linear-gradient(45deg, #ff9a8b, #ff6a00, #ff2a68);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

#login-error-message, #signup-error-message {
    color: red;
    margin-top: 10px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Dark Mode */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

header.dark-mode {
    background-color: #000;
}
